*{
    margin: 0;
    padding: 0;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 230px;
    cursor: pointer;
    position: relative;
}
.card .card-img-cony{
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.card .card-img-cony .flash{
    position: absolute;
    width: 100%;
    height: 100%;
}
.card .card-img-cony:hover .flash{
    animation: flash 1.5s ;
}
@keyframes flash{
    from{
        width: 100%;
        height: 100%;
    background-color: rgba(255, 255, 255, .9);
    }
    to{
        width: 100%;
        height: 100%;
    background-color: rgba(255, 255, 255, .0);

    }
}
.card img{
    height: 100%;
    width: 100%;
}
.card h5{
    font-weight: 700;
    margin-left: 5px;
}
.card .heart{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255,.5);
    transition: .5s;
}
.card .heart:hover i{
    transform: scale(1.2);
}
.card .heart.added i{
    /* transform: scale(2); */
    color:#fbd249}