*{
    margin: 0;
    padding: 0;

}
.filter{
    position: sticky;
    top: 100px;
    width: 30%;
    height: 500px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.filter .title{
    text-transform: uppercase;
    font-size: 15px;
    color: rgba(0, 0, 0, .5);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.filter .title input[type='button']{
    background-color: transparent;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    /* font-size: 16px; */
    color: teal;
}
.filter .title input[type='button']:hover{
    color:rgb(25, 241, 241) ;
}
.filter .title input[type='button']:focus{
    outline: none;
}
.filter .filter-item{
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}
.filter .filter-heading{
    text-transform: capitalize;
    font-size: 15px;
    color: rgba(0, 0, 0, .5);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    position: relative;

}
.filter .filter-heading .dot{
    width: 6px;
    position: absolute;
    left: 75px;
    top: 8px;
    height: 6px;
    border-radius: 50%;
    background-color: blue;

}
.filter #rotate{
    transform: rotate(0deg);
}
.filter .filter-heading i{
    transition: .2s;
    transform: rotate(180deg);
}
.filter .filter-item .filter-options{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    margin-top: 20px;
}
.filter .close{
     display: none;
}
.filter .filter-item .color-options{
    width: 100%;
    display: flex;
    padding-left: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.filter .filter-item .color-options .color-picker{
    width: 30px;
    height: 30px;
    margin: 10px;
    background-color: red;
    border: .5px solid rgba(0, 0, 0, .5);
    border-radius: 5px;
    cursor: pointer;

}
.filter .filter-item .color-options .color-picker.red{
    background-color: red;
}
.filter .filter-item .color-options .color-picker.blue{
    background-color: blue;
}
.filter .filter-item .color-options .color-picker.black{
    background-color: #000;
}
.filter .filter-item .color-options .color-picker.gray{
    background-color: #fff;
}
.filter .filter-item .color-options .color-picker.green{
    background-color: green;
}
.filter .filter-item .filter-options input{
    font-size: 13px;
    font-weight: 500;
    color:rgba(0, 0, 0, .5) ;
    transition: .2s;
    width: 100%;
    text-align: left;
    text-transform: capitalize;
    margin: 3px 0;
    background-color: #fff;
    border: none;
}
.filter .filter-item .filter-options input:focus{
    outline: none;
}
.filter .filter-item .filter-options input:hover{
    background-color: rgba(0, 0, 0, .03);
}
